
@import "tailwindcss";
@font-face {
  font-family: NPIClassAval;
  src: url("../public/font/NPIClassAval.ttf") format("truetype");
}
@font-face {
  font-family: Laila;
  src: url("../public/font/Laila.ttf") format("truetype");
}
@theme {
  --font-NPIClassAval:"NPIClassAval";
  --font-Laila:"Laila";
  --color-custom-gray:rgba(71, 71, 71, 0.463);
  /* breakpoint */
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}
@custom-variant dark (&:where(.dark, .dark *));
.aoli{
  background: #9aff83;
}